<div class="container" mt-5>
  <h1>login now</h1>
  <form method="POST" action="/login">
    <div class="form-group">
      <a href="/" class="btn btn-lg btn-primary">
        go back
      </a>
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        name="email"
        placeholder="enter your email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        name="password"
        placeholder="enter your password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>

    <button type="submit" class="btn btn-primary">
      login
    </button>
  </form>
</div>
;
